
// Text
$darkPrimaryTxt : #63686B;
$darkSecondaryTxt : #202124;
$darkTertiaryTxt : #666A6D;
// Tabs
$tabBG : #FBFCFE;

.mainContent{ 

  h1{
    font-size: 30px;
    font-weight: regular;
    color: $darkPrimaryTxt;
  }

  i{
    padding-right: 10px;
  }

}