<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>design</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- Fonts -->
    <link href="https://fontastic.s3.amazonaws.com/YfFMzw2YZywiXrAN4mSf8h/icons.css" rel="stylesheet">

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- Message Form -->
  <script type="text/template" id="messageForm">
    <div class="row">
      <div class="col-lg-4 form">
        <input type="text" id="roomName" class="form-control" placeholder="Room Name...">
      </div>
      <div class="col-lg-8 noPaddingRight">
        <div class="input-group form">
          <input type="text" class="form-control" id="message" placeholder="Enter Message...">
          <span class="input-group-btn">
            <button class="btn btn-primary submit" type="submit">Send Message</button>
          </span>
        </div>
      </div>
    </div>
  </script>

  <!-- Individual Messages -->
  <script type="text/template" id="message">
    <td><%= createdAt %></td>
    <td><%= (room ? room : "") %></td>
    <td><%= (username ? username : "") %></td>
    <td><%= (text ? text : "") %></td>
    <td><a class="noDec" href=""><i class="icon-heart"></i></a></td>
    <td><a class="noDec" href=""><i class="icon-budicon-32"></i></a></td>
  </script>

  <!-- Rooms -->
  <script type="text/template" id="room">
    <div>
      <ul class="nav nav-tabs" id="roomTabs">

      </ul>
    </div>

    <div class="tab-content" id="roomContents">

      <div role="tabpanel" class="tab-pane fade in active" id="<% roomname %>">

        <div class="jumbotron">

          <div id="messageInputForm"></div> // Form View

          <table id="messageList"></table> // Message Collection View

        </div>

      </div>

    </div>
  </script>

  <script type="text/template" id="roomTab">
    <a href="#<%= roomname %>" role="tab" data-toggle="tab"><i class="icon-budicon-40"></i><%= roomname %></a>
  </script>

  <script type="text/template" id="rooms">
    <div role="tabpanel" class="tab-pane fade in active" id="<%= roomname %>">
      <div class="jumbotron">
        <div id="messageInputForm"></div>

        <table id="messageList"></table>

      </div>
    </div>
  </script>

  <div class="col-xs-2 sideNav">
    <div class="flex-container">

<!--       <div class="flex-item">
        <img class="img-circle" src="images/profile.jpg" width="30%" />
      </div>

      <div class="flex-item">
        <ul>
          <li class="current"><i class="icon-caddie-shop-shopping-streamline"></i>Dashboard</li>
          <li><i class="icon-budicon-25"></i>Dashboard</li>
          <li><i class="icon-social-amazon"></i>Dashboard</li>
          <li><i class="icon-budicon-31"></i>Dashboard</li>
        </ul>
      </div> -->

      <div class="flex-item">
        <button class="btn btn-primary">Sign Out</button>
      </div>

    </div>
  </div>

  <div class="col-xs-8 mainContent">
    <div class="row">
      <h1>Room Name Maker Square</h1>
      <div class="tabBG">

        <div id="roomlist">
          
        </div>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="activeProjects">

            <div class="jumbotron">

              <div id="messageInputForm"></div>

              <table id="messageList"></table>

            </div>

          </div>
          <div role="tabpanel" class="tab-pane fade" id="profile">
            
          </div>
          <div role="tabpanel" class="tab-pane fade" id="messages">
            
          </div>
          <div role="tabpanel" class="tab-pane fade" id="settings">
            
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-xs-2 sideBar">
    <div class="row" id="friendList"></div>
  </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/backbone/backbone.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js(.) scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="/bower_components/underscore/underscore-min.js"></script>
    <script src="/bower_components/backbone/backbone-min.js"></script>
    <!-- endbuild -->

    <!-- Parse -->
    <script src="scripts/config.js"></script>

    <!-- Styles -->
    <script src="scripts/styles.js"></script>

    <!-- Backbone -->
    <script src="scripts/model/message.js"></script>
    <script src="scripts/model/friend.js"></script>
    <script src="scripts/model/room.js"></script>
    <script src="scripts/model/appModel.js"></script>
    <script src="scripts/collection/messages.js"></script>
    <script src="scripts/collection/friends.js"></script>
    <script src="scripts/collection/rooms.js"></script>
    <script src="scripts/view/message.js"></script>
    <script src="scripts/view/form.js"></script>
    <script src="scripts/view/friend.js"></script>
    <script src="scripts/view/roomTab.js"></script>
    <script src="scripts/view/messageList.js"></script>
    <script src="scripts/view/friendList.js"></script>
    <script src="scripts/view/roomListTab.js"></script>
    
    <script src="scripts/view/appView.js"></script>
  
    <!-- App -->
    <script src="scripts/app.js"></script>

  </body>
</html>